.timer {
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}

.puzzle {
	display: inline-block;
	margin: 10px;
}

.start {
	background-color: #000;
}

.path {
	background-color: #ff0;
}

.down {
}

.right {
	float: left;
}

.end {
	background-color: #00f;
	float: left;
}
